html {
  height: 100%; /* make background fill entire page */
}

body {
  background: rgb(69,246,252); /* fallback */
  background: linear-gradient(135deg, rgba(69,246,252,1) 25%, rgba(253,211,29,1) 75%);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

audio {
  display: none;
  width: 10%;
}


/* in-out animations */
.shrink {
  transition: all .5s ease-in-out; /* for animation to work in reverse too */
}
.shrink:hover {
  transform: scale(0.9);
  transition: .5s;
}
.grow {
  transition: all .5s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  transition: .5s;
}
.spin {
  transition: all .5s ease-in-out;
}
.spin:hover {
  transform: rotate(360deg);
  transition: .5s;
}


.card {
  background: linear-gradient(135deg, rgba(255,255,255,0.3), rgb(0,0,0,0.3));
  border-radius: 50%;
  display: inline-block;
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
  /*justify-content: center;*/
  margin: 10px;
  padding: 20px;
  width: auto;
}
.card > img {
  height: 100px;
  width: 100px;
}
.card > img:hover {
  filter: drop-shadow(0 0 30px #333);
}